# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lan_video_server/build/
lan_video_server/bin/
lan_video_server/lib/
lan_video_server/logs/
lan_video_server/conan_project/build/
lan_video_server/fastdds_test/build/
lan_video_server/fastdds_test/src/
lan_video_server/fastdds_test/tmp/

.vscode/
